* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

:root {
    --btn-color: #E6533C;
}

.common-width {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Header style start */

header nav {
    display: flex;
    justify-content: space-between;
}

nav .logo h3 {
    color: var(--btn-color);
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border: 1px solid hsla(0, 0%, 100%, 10%);
    border-radius: 39px;
}

nav li {
    list-style: none;
    padding: 10px 0px;
    margin: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 10px 20px;
}

nav ul {
    color: var(--btn-color);
}

.home-link {
    border: 1px solid hsl(0, 0%, 10%);
    background-color: var(--btn-color);
    border-radius: 39px;
}

/* bars styles */
.bars {
    display: none;
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-content {
    width: 50%;
}

.banner-contents {
    max-width: 450px;
}

.banner-contents h1 {
    font-weight: 900;
    font-size: 4rem;
    color: white;
    padding: 20px 0;
}

.shape {
    font-family: "Allura", cursive;
}

.banner-contents p {
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
}

.banner-contents>button {
    margin: 20px 0;
    padding: 15px 40px;
    border: none;
    border-radius: 42px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 1.125rem;
    color: #fff;

}

.banner-button-1 {
    background-color: var(--btn-color);
}

.banner-contents .banner-button-2 {
    background-color: transparent;
    border: 2px solid white;
}

/* banner images */

.banner-images {
    position: relative;
}

.banner-images img {
    height: 500px;
}

/* banner boxes */
.banner-box-1,
.banner-box-2 {
    width: 200px;
    padding: 20px;
    background-color: hsl(0, 0%, 10%);
    border-radius: 12px;
    color: white;
    text-align: center;
}

.banner-box-1 {
    position: absolute;
    top: 200px;
    right: -50px;
    text-align: left;
}

.banner-box-2 {
    position: absolute;
    bottom: 75px;
    left: -100px;
    text-align: left;
    display: flex;
    align-items: center;
}

.banner-box-1>p,
.banner-box-2>p {
    font-size: 0.8125rem;
    color: hsl(0, 0%, 65%);
}

.banner-ball {
    height: 30px;
    width: 30px;
    background-color: var(--btn-color);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}


/* Header style end */
/* habits section style start */


.habits-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.habits-desc {
    padding: 30px 0;
    max-width: 600px;
    margin: 0 auto;
}

.habits-desc>h3 {
    font-size: 3rem;
}

.habits-desc>p {
    color: hsl(0, 0%, 50%);
    font-size: 0.875rem;
    padding: 10px;
}

.habits-cards {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

/* habits cards style */
.habits-card>img {
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.1);
}

.habits-img-desc>h4 {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 20px 0 10px;
}

.habits-img-desc>p {
    color: rgba(255, 255, 255, 0.5);
}


/* habits section style ends */
/* run an extra mile style start */


.run-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 20px 40px;
    border-radius: 12px;
    margin: 40px auto;
}

.run-desc {
    max-width: 40%;
}

.run-desc h2 {
    font-size: 3rem;
    padding: 20px 0;
}

.run-desc p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.run-desc>a {
    text-decoration: none;
    background-color: var(--btn-color);
    padding: 10px 20px;
    border-radius: 42px;
    display: inline-block;
    margin: 20px 0;
    font-size: 1.125rem;
    font-weight: 600;
}

.run-images {
    max-width: 40%;
}

.run-images>img {
    max-width: 100%;
    border-radius: 12px;
}


/* run an extra mile style ends */
/* galary section style start */


.galary-headings p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    max-width: 500px;
    margin: 50px 0;
}

.galary-head {
    display: none;
}

.img-row-1,
.img-row-2 {
    display: grid;
}

.img-row-1 {
    grid-template-columns: 1fr 2fr 1fr;
}

.img-row-2 {
    grid-template-columns: 1.75fr 1fr 1.5fr;
}

.img-row-1>div,
.img-row-2>div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.img-1 {
    background-image: linear-gradient(to right, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url(../images/exercise1.jpg);
    position: relative;
}

.img-1 .inside-img {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.img-2 {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(../images/exercise2.png);
    position: relative;
}

.img-2 .inside-img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.img-3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise3.png);
    position: relative;
}

.img-3 .inside-img {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.img-4 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/exercise4.png);
    position: relative;
}

.img-4 .inside-img {
    position: absolute;
    top: 20px;
    right: 0;
}

.img-5 {
    background-image: linear-gradient(to right, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url(../images/exercise5.jpg);
    position: relative;
}

.img-5 .inside-img {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.img-6 {
    background-image: linear-gradient(to right, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url(../images/exercise6.jpg);
    position: relative;
}

.img-6 .inside-img {
    position: absolute;
    top: 20px;
    right: 0;
}

.inside-img {
    max-width: 200px;
}

.inside-img>p {
    font-size: 0.875rem;
}


/* galary section style end */

/* BMI section starts */

.bmi-calc-headings {
    max-width: 650px;
    margin: 50px auto;
}

.bmi-calc-headings h2 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 10px 0;
}

.bmi-calc-headings p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

/* bmi calc */

.bmi-calculator {
    display: flex;
    background-color: #222222;
    padding-bottom: 40px;
}

.bmi-chart,
.bmi-calc {
    width: 50%;
}

.bmi-chart {
    text-align: center;
}

.bmi-chart h3 {
    padding: 30px 0;
}

.bmi-calc-desc {
    padding: 30px 0;
}

.bmi-chart h3,
.bmi-calc h3 {
    font-size: 1.75rem;
}

.bmi-calc p {
    color: rgba(255, 255, 255, 0.5);
    padding: 20px 20px 0 0;
}

.bmi-table {
    display: flex;
    justify-content: center;
}

.bmi-table table {
    border-collapse: collapse;
    text-align: left;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    line-height: 20px;
}

table th {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
}

table td {
    font-size: 0.785rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
}

/* bmi input section */
.bmi-input {
    color: rgba(255, 255, 255, 0.6);
    padding-right: 60px;
}

.input-row-1 {
    display: flex;
    justify-content: space-between;
}

#weight,
#height {
    width: 50%;
}

.input-row-2 {
    display: flex;
    justify-content: space-between;
}

#age,
#select {
    width: 50%;
}

.input-row-3 {
    display: flex;
    justify-content: space-between;
}

#select2 {
    width: 100%;
}

#height,
#weight,
#age,
#select,
#select2 {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 10px 10px 0;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
}

#calculate {
    background-color: var(--btn-color);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 42px;
    border: none;
    margin: 10px 0;
}


/* BMI section ends */

/* meet our team styles starts */

.mot-desc {
    text-align: center;
}

.mot-desc h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 50px;
}

.mot-desc p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    max-width: 700px;
    margin: 10px auto;
    margin-bottom: 40px;
}

/* galary section */

.mot-galary {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
}

.mot-tr-1,
.mot-tr-2 {
    display: flex;
    justify-content: space-evenly;
}

.mot-tr-1 {
    padding: 10px 10px 0 10px;
}

.mot-tr-2 {
    padding: 0 10px 10px 10px;
}

.mot-img-1,
.mot-img-2,
.mot-img-3,
.mot-img-4,
.mot-img-5,
.mot-img-6 {
    height: 300px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 18px;
    position: relative;
}

.mot-img-1 h5,
.mot-img-2 h5,
.mot-img-3 h5,
.mot-img-4 h5,
.mot-img-5 h5,
.mot-img-6 h5 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 1.25rem;
    font-weight: 700;
}

.mot-img-1 {
    background-image: url(../images/trainer1.png);
}

.mot-img-2 {
    background-image: url(../images/trainer2.png);
}

.mot-img-3 {
    background-image: url(../images/trainer3.png);
}

.mot-img-4 {
    background-image: url(../images/trainer4.png);
}

.mot-img-5 {
    background-image: url(../images/trainer5.png);
}

.mot-img-6 {
    background-image: url(../images/trainer6.png);
}

/* contact section style starts */
.contact-section {
    margin: 20px auto;
}

.contact-section .contact-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px auto;
}

.contact-headings h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}

.contact-iframe>iframe {
    width: 100%;
    height: 250px;
    border-radius: 12px;
}

.contact-info {
    text-align: left;
    margin-left: 50px;
}

.contact-info h2 {
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
}

.contact-info .cm-fitness {
    color: var(--btn-color);
    font-style: italic;
    font-size: 1rem;
}

.contact-info>p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
}

.contact-info>address {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
}

.contact-info h5 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    padding: 5px 0;
    text-transform: uppercase;
}

/* contact section style ends */


/* meet our team styles ends */

/* footer styles starts */

.footer-section {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.footer-1,
.footer-2,
.footer-3 {
    padding: 10px 20px 10px 0;
}

.footer-1 h2 {
    font-style: italic;
    color: #E6533C;
    font-size: 2rem;
    padding: 10px 0;
    font-weight: 900;
}

.footer-1 p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    max-width: 400px;
}

.footer-2 h2,
.footer-3 h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0;
}

.footer-2 a,
.footer-3 a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 0;
}

.footer-section hr {
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-section>p {
    text-align: center;
    padding: 30px 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

/* footer styles ends */

/* responsive styles starts */
@media screen and (max-width: 576px) {

    /* nav bar styles */
    .nav-links {
        display: none;
    }

    .bars {
        display: block;
        padding: 12px 0;
    }

    /* banner style */
    .banner {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
    }

    /* banner images syles */
    .banner-images {
        text-align: center;
    }

    .banner-images>.banner-box-1 {
        top: 160px;
        right: 20px;
    }

    .banner-images>.banner-box-2 {
        bottom: 60px;
        left: 20px;
    }

    /* change your habit section */
    .habits-cards {
        flex-direction: column;
    }

    /* run an extra mile section */
    .run-section {
        flex-direction: column;
        max-width: 100%;
    }

    .run-desc {
        max-width: 100%;
    }

    .run-desc>a {
        display: block;
        text-align: center;
    }

    .run-images {
        max-width: 100%;
    }

    /* galary section */
    .galary-head {
        display: block;
    }

    .galary-head>h2 {
        font-size: 2rem;
    }

    .galary-headings>p {
        margin: 10px auto 40px;
    }

    .img-row-1 .img-3,
    .img-row-2 .img-6 {
        display: none;
    }

    .img-row-1 {
        grid-template-columns: 1.1fr 0.9fr;
    }

    .img-row-2 {
        grid-template-columns: 0.9fr 1.1fr;
    }

    /* bmi calculator secton */
    .bmi-calc-headings {
        max-width: 90%;
        margin: 0 auto;
        padding: 20px 0;
    }

    .bmi-calculator {
        flex-direction: column;
        align-items: center;
    }

    .bmi-chart,
    .bmi-calc {
        width: 100%;
    }

    .bmi-calc {
        text-align: center;
    }

    .bmi-input {
        padding: 0 20px;
    }

    /* meet our team section */
    .mot-tr-1,
    .mot-tr-2 {
        flex-direction: column;
    }

    .mot-img-1,
    .mot-img-2,
    .mot-img-3,
    .mot-img-4,
    .mot-img-5,
    .mot-img-6{
        width: auto;
    }
    /* contact information start */

    .contact-section .contact-main{
        display: flex;
        flex-direction: column-reverse;
    }
    .contact-info{
        margin-bottom: 20px;
    }
    /* footer section start */
    .footer{
        display: flex;
        flex-direction: column;
    }
}